{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h3>Now Playing...</h3>
        </div>
    </div>
    <div class="container">
        <div class="row pull-right"></div>
        <a id="btn-play" href="#"><i class="fas fa-play fa-2x"></i></a>&nbsp;&nbsp;
        <a id="btn-pause" href="#"><i class="fas fa-pause fa-2x"></i></a>&nbsp;&nbsp;
        <a id="#btn-backward" href="#"><i class="fas fa-step-backward fa-2x"></i></a>&nbsp;&nbsp;
        <a id="#btn-forward" href="#"><i class="fas fa-step-forward fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
{#        <a href="#"><i class="fas fa-stop fa-2x"></i></a>&nbsp;&nbsp;&nbsp;#}
        <a id="#btn-mute" href="#"><i class="fas fa-volume-off fa-2x"></i></a>&nbsp;&nbsp;
        <a id="#btn-volume-down" href="#"><i class="fas fa-volume-down fa-2x"></i></a>&nbsp;&nbsp;
        <a id="#btn-volume-up" href="#"><i class="fas fa-volume-up fa-2x"></i></a>
    </div>
</div>
{% endblock %}
