{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h4><span id="name"></span></h4>
            </div>
            <div class="col-xs-4">
                <div class="volume_icon"><i class="material-icons">volume_up</i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <input id="play_percentage" type="range" min="1" max="100" value="0" class="slider">
            </div>
            <div class="col-xs-4">
                <input id="volume-percentage"  type="range" min="1" max="100" value="50" class="slider">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <a id="btn-play" href="#"><i class="material-icons md-36">play_circle_filled</i></a>
            <a id="btn-pause" href="#"><i class="material-icons md-inactive md-36">pause_circle_filled</i></a>
            <a id="btn-backward" href="#"><i class="material-icons md-36">skip_previous</i></a>
            <a id="btn-stop" href="#"><i class="material-icons md-36">stop</i></a>
            <a id="btn-forward" href="#"><i class="material-icons md-36">skip_next</i></a>
            <a id="btn-volume-down" href="#"><i class="material-icons md-36">volume_down</i></a>
            <a id="btn-volume-up" href="#"><i class="material-icons md-36">volume_up</i></a>
            <a id="btn-shuffle" href="#"><i class="material-icons md-36">shuffle</i></a>
            <a id="btn-single" href="#"><i class="material-icons md-36">looks_one</i></a>
            <a id="btn-repeat" href="#"><i class="material-icons md-36">repeat</i></a>
        </div>
    </div>
</div>
{% endblock %}
