{% extends "base.html" %}
{% block page_content %}
    <div class="jumbotron">
        <div class="row">
            <div class="container">
            {% for music in play_list %}
                <div class="play-group">
                    <div class="col-xs-1"><span>{{ music.index }}</span></div>
                    <div class="col-xs-9">{{ music.name }}</div>
                    <div class="col-xs-2"><a href="#" class="music_play"><i class="material-icons md-36">play_circle_filled</i></a></div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}